body {
  background-color: black;
  color: gray;
}

header, main, nav, footer {
  text-align: center;
}

nav a {  /*links within "nav" container */
  padding: 15px;
  padding-bottom: 4px;
  font-size: 1.8em;
  text-decoration: none;  /*removes underline */
  color: white;    /*by default, links are blue*/
  font-family: 'Pacifico', cursive
}

nav a.current {
  font-size: 50px;
  color: purple;
}

nav a:hover {  /*pseudo class*/
  border-bottom: 2px orange solid;
  font-size: 2em;
  transition: .9s;    /*transition effect*/
}

nav a.current:hover {  /*pseudo class*/
  border-bottom: 2px orange solid;
  font-size: 3.5em;
  transition: .9s;    /*transition effect*/
}

main {
  display: flex;
  justify-content: center;
}

footer {
  color: pink;
  font-size: 11px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  margin-bottom: 0px;
}